<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>动力金融网 - 专业的互联网金融信息服务平台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cashbox-share.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fund-guanli.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/share.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <script type="text/javascript" language="javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/trafficStatistics.js}"></script>
    <script type="text/javascript">
        $(function () {
            $("#myCash").attr("class", "on");
        })
        $(document).ready(function () {
            $("#overView").removeClass("on");
            $("#myAccount").addClass("on");
        });
        $(document).ready(function () {
            $("#wodexinxi").addClass("on");
        });
    </script>
</head>

<body>
<!--页头start-->
<div id="header">
    <div th:include="commons/header :: html"></div>
</div>
<!--页头end-->

<!-- 二级导航栏start -->
<div th:include="commons/subNav :: html"></div>
<!-- 二级导航栏end -->

<!--页中start-->
<div class="mainBox">
    <div class="homeWap">
        <div class="fund-guanli clearfix">
            <div class="left-nav">
                <div th:include="commons/leftNav :: html"></div>
            </div>
            <div class="right-body">
                <div class="right-wap">
                    <!--账户信息start-->
                    <div class="credenMain clearfix">
                        <div class="dog-ear"></div>
                        <div class="credenBasic">
                            <div class="credenName">
                                <div class="head">
                                    <span><img id="user_photo" th:src="@{/images/header.png}" width="90" height="90"/></span>
                                    <a th:href="@{/loan/uploadHeader}">上传头像</a>
                                </div>
                                <h3 class="name">

                                    <a th:href="@{/loan/page/realName}" th:if="${user.name==''}">请认证姓名</a>
                                    <th:block th:if="${user.name!=''}" th:text="${user.name}"></th:block>
                                </h3>
                                <h4></h4>
                                <h4 th:text="${user.phone}">13725698888</h4>
                                <h4 >最近登录：[[${#dates.format(user.lastLoginTime, 'yyyy-HH-dd HH:mm:ss')}]]</h4>
                            </div>
                            <i class="borderRight"></i>
                            <ul class="credenBalance">
                                <li class="availMoney">
                                    <h3>可用余额：</h3>
                                    <span class="moneyIcon" th:text="|¥ ${account.availableMoney} 元|"></span>
                                    <a class="recharge" th:href="@{/loan/page/toRecharge}">充值</a>
                                    <a class="inves" th:href="@{/loan/loan}">投资</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--页中end-->

<!--页脚start-->
<div th:include="commons/footer :: html"></div>
<!--页脚end-->
</body>
</html>